

/*
#intro {
    width: 100%;
    height: 1080px;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 1s;
}
#intro.on {
    top: -1080px;
}
*/



#section01 {
    height: 1080px;
}
#section01 .gif {
    position: absolute;
    top: 0;
    left: 0;
}


#section02 {
    height: 1972px;
}
#section02 .bg01 {
    position: absolute;
    top: 0;
    left: 0;
}

#section02 .center > div {
    position: absolute;
    left: 250px;
}

#section02 .center .top {
    top: 256px;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section02 .center .top.on {
    opacity: 1;
    transform: translate(0,0);
}

#section02 .center .top2 {
    top: 377px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section02 .center .top2.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}

#section02 .bottom .bottom {
    position: absolute;
    top: 979px;
    left: 350px;
    opacity: 0;
    transform: translate(0,70px);
    transition: 3s;
}
#section02 .bottom .bottom.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .3s;
}



#section03 {
    height: 1320px;
    background: #f9f9f9;
}
#section03 .center03 > div {
    position: absolute;
}
#section03 .center03 .top03 {
    top: 210px;
    left: 250px;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section03 .center03 .top03.on {
    opacity: 1;
    transform: translate(0,0);
}
#section03 .center03 .top03_1 {
    top: 376px;
    left: 219px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section03 .center03 .top03_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section03 .bottom03 .bottom03 {
    position: absolute;
    top: 838px;
    left: 439px;
    opacity: 0;
    transform: translate(0,70px);
    transition: 3s;
}
#section03 .bottom03 .bottom03.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .3s;
}



#section04 {
    height: 1516px;
}
#section04 .bg04 {
    position: absolute;
    top: 0;
    left: 0;
}
#section04 .center04 > div {
    position: absolute;
}
#section04 .center04 .top04 {
    top: 316px;
    left: 250px;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section04 .center04 .top04.on {
    opacity: 1;
    transform: translate(0,0);
}
#section04 .center04 .top04_1 {
    top: 430px;
    left: 250px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section04 .center04 .top04_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section04 .center04 .top04_2 {
    top: 266px;
    right: 164px;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section04 .center04 .top04_2.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .2s;
}
#section04 .bottom04 {
    position: absolute;
    top: 994px;
    left: 241px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 3s;
}
#section04 .bottom04.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .2s;
}



#section05 {
    height: 3446px;
    background: #fff;
}
#section05 .center05 > div {
    position: absolute;
}

#section05 .center05 .top05 {
    top: 193px;
    left: 250px;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section05 .center05 .top05.on {
    opacity: 1;
    transform: translate(0,0);
}

#section05 .center05 .top05_1 {
    top: 407px;
    left: 0;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section05 .center05 .top05_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .2s;
}
#section05 .center05 .top05_1_1 {
    top: 452px;
    left: 0;
    opacity: 0;
    transform: translate(0,70px);
    transition: 3s;
}
#section05 .center05 .top05_1_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}

#section05 .center05 .top05_2 {
    top: 1338px;
    left: 0;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section05 .center05 .top05_2.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .2s;
}
#section05 .center05 .top05_2_1 {
    top: 1385px;
    left: 0;
    opacity: 0;
    transform: translate(0,70px);
    transition: 3s;
}
#section05 .center05 .top05_2_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}

#section05 .center05 .top05_3 {
    top: 2271px;
    left: 0;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section05 .center05 .top05_3.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .2s;
}
#section05 .center05 .top05_3_1 {
    top: 2320px;
    left: 0;
    opacity: 0;
    transform: translate(0,70px);
    transition: 3s;
}
#section05 .center05 .top05_3_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}

#section06 {
    height: 2898px;
}
#section06 .center06 > div {
    position: absolute;
    left: 250px;
}
#section06 .center06 .top06 {
    top: 283px;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section06 .center06 .top06.on {
    opacity: 1;
    transform: translate(0,0);
}

#section06 .center06 .top06_1 {
    top: 415px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section06 .center06 .top06_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section06 .center06 .top06_2 {
    top: 780px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section06 .center06 .top06_2.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section06 .center06 .top06_3 {
    top: 1437px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section06 .center06 .top06_3.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section06 .center06 .top06_4 {
    top: 2025px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section06 .center06 .top06_4.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}


#section07 {
    height: 2948px;
    background: #fff;
}
#section07 .center07 > div {
    position: absolute;
}

#section07 .center07 .top07 {
    top: 327px;
    left: 0;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section07 .center07 .top07.on {
    opacity: 1;
    transform: translate(0,0);
}

#section07 .center07 .top07_1 {
    z-index: 999;
    top: 467px;
    left: 537px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section07 .center07 .top07_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section07 .center07 .mp4 {
    top: 517px;
    left: 750px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section07 .center07 .mp4.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}

#section07 .center07 .top07_2 {
    top: 1541px;
    left: 0;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section07 .center07 .top07_2.on {
    opacity: 1;
    transform: translate(0,0);
}

#section07 .center07 .top07_3 {
    top: 1802px;
    left: 0;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section07 .center07 .top07_3.on {
    opacity: 1;
    transform: translate(0,0);
}


#section08 {
    height: 2382px;
}
#section08 .center08 > div {
    position: absolute;
}
#section08 .center08 .top08 {
    top: 210px;
    left: 0;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section08 .center08 .top08.on {
    opacity: 1;
    transform: translate(0,0);
}

#section08 .center08 .top08_1 {
    z-index: 998;
    top: 521px;
    left: 0;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section08 .center08 .top08_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section08 .center08 .mp4_1 {
    top: 870px;
    left: 1023px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section08 .center08 .mp4_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}

#section08 .center08 .top08_2 {
    top: 1872px;
    left: 0;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section08 .center08 .top08_2.on {
    opacity: 1;
    transform: translate(0,0);
}


#section09 {
    height: 2118px;
}
#section09 .center09 > div {
    position: absolute;
    left: 0;
}
#section09 .center09 .top09 {
    top: 272px;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section09 .center09 .top09.on {
    opacity: 1;
    transform: translate(0,0);
}

#section09 .center09 .top09_1 {
    top: 388px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section09 .center09 .top09_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section09 .center09 .top09_2 {
    top: 805px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section09 .center09 .top09_2.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}


#section10 {
    height: 3350px;
}
#section10 .center10 > div {
    position: absolute;
    left: 0;
}
#section10 .center10 .top10 {
    top: 180px;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section10 .center10 .top10.on {
    opacity: 1;
    transform: translate(0,0);
}
#section10 .center10 .top10_1 {
    top: 304px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section10 .center10 .top10_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section10 .center10 .top10_2 {
    top: 691px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section10 .center10 .top10_2.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}

#section10 .bottom10 > div {
    position: absolute;
}
#section10 .bottom10 .bottom10_1 {
    z-index: 999;
    top: 2170px;
    left: 0;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section10 .bottom10 .bottom10_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section10 .bottom10 .mp4_2 {
    top: 2213px;
    left: 247px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section10 .bottom10 .mp4_2.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}


#section11 {
    height: 2693px;
}
#section11 .center11 > div {
    position: absolute;
    left: 0;
}
#section11 .center11 .top11 {
    top: 103px;
    opacity: 0;
    transform: translate(0,30px);
    transition: 1.2s;
}
#section11 .center11 .top11.on {
    opacity: 1;
    transform: translate(0,0);
}
#section11 .center11 .top11_1 {
    top: 332px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section11 .center11 .top11_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section11 .center11 .top11_2 {
    top: 2247px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section11 .center11 .top11_2.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}


#section12 {
    height: 2450px;
}
#section12 .center12 > div {
    position: absolute;
    left: 0;
}
#section12 .center12 .top12 {
    top: 131px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section12 .center12 .top12.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section12 .center12 .top12_1 {
    top: 1259px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section12 .center12 .top12_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}


#section13 {
    height: 3382px;
}
#section13 .center13 > div {
    position: absolute;
    left: 0;
}
#section13 .center13 .top13 {
    top: 158px;
    opacity: 0;
    transform: translate(0,30px);
    transition: 2s;
}
#section13 .center13 .top13.on {
    opacity: 1;
    transform: translate(0,0);
}
#section13 .center13 .top13_1 {
    top: 350px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section13 .center13 .top13_1.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section13 .center13 .top13_2 {
    top: 1364px;
    opacity: 0;
    transform: translate(0,50px);
    transition: 2s;
}
#section13 .center13 .top13_2.on {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}
#section13 .bottom13 {
    position: absolute;
    top: 2872px;
    left: 0;
    opacity: 0;
    transform: translate(0,30px);
    transition: 2s;
}
#section13 .bottom13.on {
    opacity: 1;
    transform: translate(0,0);
}


/*
#footer {
    height: 100px;
    background: #333;
    position: relative;
}
*/





